.footer_container {
    margin-top: 8rem;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container img {
    height: 100%;
    width: 90px;
}